html, body {
  font-family: sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  /* fixes issue w white space to the right!!!! */
  overflow-x: hidden;
  background-color: #E9E8E8;
}
a {
  text-decoration: none;
}
label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.navButtons{
  position: absolute;
  right: 5px;
  top: 10px;
  width: 200px;
  text-decoration: none;
}

.navbar{
  background-color: #000000;
  color: white;
  overflow: hidden;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.search{
  position: relative;
  right: 10px;
  z-index: 1;
}

.specializedNavbar{
  color: white;
  display: flex;
  height: 30px;
  justify-content: space-evenly;
  background-color: red;
}

.specItem{
  color: white;
  text-decoration: none;
}
.logo{
  width: 150px;
  height: auto;
}


.cartDiv{
  width: 800px;
  height: 1000px;
  background-color: white;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding: 40px;
  margin-bottom: 100px;
}

.cartTitle{
  display: flex;
  justify-content: space-between;
}

.productCard{
  background-color: white;
  width: 400px;
  height: 400px;
  margin: 10px;
}

.productContainer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items:center;
  justify-content:center;
}

.checkoutSidebar{
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: white;
  width: 300px;
  height: 224px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.productImage {
  height: 10vh;
}

.footer{
  height: 10px;
}

.page-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}

.content-wrap{
  flex:1;
}

.products{
  display: flex;
  flex-direction: row;
}
.product{
  margin: 100px;
}

.welcomeSign{
  padding-top: 50px;
  margin-left: 50px;
}

.bodyContent{
  margin-left: 50px;
}

.productCard img {
  height: 150px;
}

.wishlistDiv img {
  height: 100px;
}

.cartItem img {
  height: 100px;
}

.priceCalc {
  display: none;
}