body {
  font-family: sans-serif;
  min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.login{
  position: absolute;
  right: 5px;
  top: 10px;
  width: 200px;
  text-decoration: none;
  z-index: 1;
}

.navbar{
  background-color: #1b0b54;
  color: white;
}

.search{
  position: relative;
  right: 10px;
  z-index: 1;
}

.specializedNavbar{
  color: white;
  display: flex;
  justify-content: space-evenly;
  background-color: #537FE7
}

.specItem{
  color: white;
  text-decoration: none;
}
.logo{
  width: 150px;
  height: auto;
}

.footer{
  margin-top: auto;
}

.cartDiv{
  display: flex;

  min-width: 500px;
  min-height: 500px;
  max-height: 800px;
  max-width: 700px;
  border: 3px solid black;
}

.cartDivParent{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.checkoutButton{
  position: relative;
  top: 720px;
}